---
permalink: /about/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "about" %}

{% block content %}
  <h1>About me</h1>
  {% for item in collections.projects %}
    {% if loop.first %}<ul>{% endif %}
    <li>
      <article class="c-projectitem">
        <h2 class="c-projectitem__title">{{ item.data.title }}</h2>
        <div class="c-projectitem__content">
          {{ item.templateContent|safe }}
        </div>
        <p class="c-projectitem__tags">
          {% for tag in item.data.tags %}
            <span>#</span> {{ tag }}{% if not loop.last %}, {% endif %}
          {% endfor %}
        </p>
      </article>
    </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}
{% endblock %}