---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "home" %}

{% block content %}

  <h1>Home</h1>
  <p>Hello Eleventy test</p>
  <p>The answer to everything is: {{ 40 + 2 }}</p>

  <h2>{{ ships|length }} Ships</h2>

  {% for ship in ships %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        <article>
          <h2>{{ ship.name }}</h2>
          <p>{{ ship.manufacturer }}</p>
          <p>{{ ship.cost_in_credits }}</p>
        </article>
      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

{% endblock %}